busy-screen.flow
[
  {
    "id": "d3d3a738.50ff6",
    "type": "tab",
    "label": "Status Lifecycle",
    "disabled": false,
    "info": ""
  },
  {
    "id": "cf98990a23245750",
    "type": "tab",
    "label": "refresh global.addresses",
    "disabled": false,
    "info": ""
  },
  {
    "id": "90dc5f4163afbe49",
    "type": "tab",
    "label": "refresh global.nearby",
    "disabled": false,
    "info": ""
  },
  {
    "id": "44cf99770533579a",
    "type": "tab",
    "label": "refresh global.status",
    "disabled": false,
    "info": ""
  },
  {
    "id": "e9f16578ec7b2ee2",
    "type": "tab",
    "label": "/say",
    "disabled": false,
    "info": "Endpoint that \"says\" everything posted to it"
  },
  {
    "id": "86cf6ae1.86e16",
    "type": "tab",
    "label": "Playground",
    "disabled": true,
    "info": ""
  },
  {
    "id": "160680de.88ba5f",
    "type": "tab",
    "label": "Hue",
    "disabled": true,
    "info": ""
  },
  {
    "id": "686fa107.2f1818",
    "type": "subflow",
    "name": "speak status",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 200,
        "y": 280,
        "wires": [
          {
            "id": "9de1781d.c3793"
          }
        ]
      }
    ],
    "out": [],
    "env": [],
    "meta": {},
    "color": "#87A980",
    "icon": "font-awesome/fa-volume-up"
  },
  {
    "id": "e268071b434a4a05",
    "type": "subflow",
    "name": "compose info",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 200,
        "wires": [
          {
            "id": "293c1f95b8c22f6b"
          },
          {
            "id": "f357e4ecb89a680a"
          },
          {
            "id": "3ccc68c88b722855"
          },
          {
            "id": "1b6c8b73e03202f0"
          },
          {
            "id": "59c9988e0b843e16"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 900,
        "y": 200,
        "wires": [
          {
            "id": "459f6e3c6d46fcf6",
            "port": 0
          }
        ]
      }
    ],
    "env": [],
    "meta": {},
    "color": "#3FADB5",
    "icon": "font-awesome/fa-info",
    "status": {
      "x": 900,
      "y": 260,
      "wires": [
        {
          "id": "459f6e3c6d46fcf6",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "6a822a9c1319811c",
    "type": "subflow",
    "name": "set timestamp",
    "info": "Sets payload.timestamp if it does not already exist.",
    "category": "",
    "in": [
      {
        "x": 160,
        "y": 120,
        "wires": [
          {
            "id": "14eaca7a99556bed"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 520,
        "y": 120,
        "wires": [
          {
            "id": "14eaca7a99556bed",
            "port": 0
          }
        ]
      }
    ],
    "env": [],
    "meta": {},
    "color": "#3FADB5",
    "icon": "font-awesome/fa-clock-o",
    "status": {
      "x": 520,
      "y": 200,
      "wires": [
        {
          "id": "14eaca7a99556bed",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "e1effc2d22e3136d",
    "type": "subflow",
    "name": "nearby updated",
    "info": "",
    "category": "",
    "in": [],
    "out": [
      {
        "x": 740,
        "y": 200,
        "wires": [
          {
            "id": "66c82c0e187e9979",
            "port": 0
          }
        ]
      },
      {
        "x": 740,
        "y": 200,
        "wires": [
          {
            "id": "66c82c0e187e9979",
            "port": 1
          }
        ]
      }
    ],
    "env": [],
    "meta": {},
    "color": "#3FADB5",
    "outputLabels": [
      "busy screen",
      "other"
    ],
    "icon": "node-red/bridge.svg",
    "status": {
      "x": 940,
      "y": 120,
      "wires": [
        {
          "id": "f621d7bd9148a1ad",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "08e1bdd8996589b6",
    "type": "subflow",
    "name": "init",
    "info": "Sends an empty message on start.",
    "category": "",
    "in": [],
    "out": [
      {
        "x": 560,
        "y": 320,
        "wires": [
          {
            "id": "a871ebb783ded8f5",
            "port": 0
          }
        ]
      }
    ],
    "env": [],
    "meta": {},
    "color": "#3FADB5",
    "icon": "font-awesome/fa-angle-right"
  },
  {
    "id": "305486fc7a8f284b",
    "type": "subflow",
    "name": "trim",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 220,
        "y": 260,
        "wires": [
          {
            "id": "1c8f14700c680424"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 580,
        "y": 260,
        "wires": [
          {
            "id": "1c8f14700c680424",
            "port": 0
          }
        ]
      }
    ],
    "env": [],
    "meta": {},
    "color": "#E2D96E",
    "icon": "font-awesome/fa-random"
  },
  {
    "id": "fae67dfd44064085",
    "type": "subflow",
    "name": "hostname",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 100,
        "wires": [
          {
            "id": "fcd4121bed27d1ce"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 480,
        "y": 80,
        "wires": [
          {
            "id": "87db43369aa21f58",
            "port": 0
          }
        ]
      }
    ],
    "env": [],
    "meta": {},
    "color": "#E9967A",
    "icon": "font-awesome/fa-gear",
    "status": {
      "x": 480,
      "y": 140,
      "wires": [
        {
          "id": "87db43369aa21f58",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "6c31a8500cd2af4a",
    "type": "subflow",
    "name": "whoami",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 80,
        "wires": [
          {
            "id": "f60f2fba236286c6"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 500,
        "y": 80,
        "wires": [
          {
            "id": "c2f662eea1f1abf3",
            "port": 0
          }
        ]
      }
    ],
    "env": [],
    "meta": {},
    "color": "#E9967A",
    "icon": "font-awesome/fa-gear",
    "status": {
      "x": 500,
      "y": 140,
      "wires": [
        {
          "id": "c2f662eea1f1abf3",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "2280cc9c3efeb2e2",
    "type": "subflow",
    "name": "set duration",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 280,
        "y": 220,
        "wires": [
          {
            "id": "eee197ea38dbe9ee"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 600,
        "y": 200,
        "wires": [
          {
            "id": "eee197ea38dbe9ee",
            "port": 0
          }
        ]
      }
    ],
    "env": [],
    "meta": {},
    "color": "#3FADB5",
    "icon": "font-awesome/fa-clock-o",
    "status": {
      "x": 600,
      "y": 260,
      "wires": [
        {
          "id": "eee197ea38dbe9ee",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "85f0531b8e23f10e",
    "type": "subflow",
    "name": "sanitize status",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 80,
        "wires": [
          {
            "id": "4072fcc87c6958ed"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 760,
        "y": 80,
        "wires": [
          {
            "id": "634d0d63206c8a19",
            "port": 0
          }
        ]
      }
    ],
    "env": [],
    "meta": {},
    "color": "#3FADB5",
    "icon": "node-red/comment.svg",
    "status": {
      "x": 760,
      "y": 140,
      "wires": [
        {
          "id": "634d0d63206c8a19",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "ed608b58.9ef53",
    "type": "websocket-listener",
    "path": "/info",
    "wholemsg": "false"
  },
  {
    "id": "31dd706.b8e229",
    "type": "tls-config",
    "name": "",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "",
    "keyname": "",
    "caname": "",
    "servername": "",
    "verifyservercert": true
  },
  {
    "id": "6efd2345.171b3c",
    "type": "hue-bridge",
    "name": "Philips hue",
    "bridge": "192.168.16.249",
    "key": "nx3MhBbh1PhTg2FMnFeW2O6Usb4SY1OVQkKQenA9",
    "interval": "3000",
    "disableupdates": false
  },
  {
    "id": "4d149ab7.912cb4",
    "type": "ui_group",
    "name": "Default",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "98039b67.028e38",
    "type": "ui_base",
    "theme": {
      "name": "theme-dark",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0094CE",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "customTheme": {
        "name": "Untitled Theme 1",
        "default": "#4B7930",
        "baseColor": "#4B7930",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "themeState": {
        "base-color": {
          "default": "#097479",
          "value": "#097479",
          "edited": true
        },
        "page-titlebar-backgroundColor": {
          "value": "#097479",
          "edited": false
        },
        "page-backgroundColor": {
          "value": "#111111",
          "edited": false
        },
        "page-sidebar-backgroundColor": {
          "value": "#333333",
          "edited": false
        },
        "group-textColor": {
          "value": "#0eb8c0",
          "edited": false
        },
        "group-borderColor": {
          "value": "#555555",
          "edited": false
        },
        "group-backgroundColor": {
          "value": "#333333",
          "edited": false
        },
        "widget-textColor": {
          "value": "#eeeeee",
          "edited": false
        },
        "widget-backgroundColor": {
          "value": "#097479",
          "edited": false
        },
        "widget-borderColor": {
          "value": "#333333",
          "edited": false
        },
        "base-font": {
          "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        }
      },
      "angularTheme": {
        "primary": "indigo",
        "accents": "blue",
        "warn": "red",
        "background": "grey",
        "palette": "light"
      }
    },
    "site": {
      "name": "┴┬┴┤´Ｏ´)ﾉ  Busy?!  Σ(‘Д’⁕)",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "lockMenu": "false",
      "allowTempTheme": "true",
      "dateFormat": "DD/MM/YYYY",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "081d7d18ddeca32d",
    "type": "ui_spacer",
    "z": "d3d3a738.50ff6",
    "name": "spacer",
    "group": "4d149ab7.912cb4",
    "order": 3,
    "width": 6,
    "height": 1
  },
  {
    "id": "3b18adf42989dacc",
    "type": "ui_spacer",
    "z": "d3d3a738.50ff6",
    "name": "spacer",
    "group": "4d149ab7.912cb4",
    "order": 4,
    "width": 6,
    "height": 1
  },
  {
    "id": "28a5c0a5.3c5c2",
    "type": "play audio",
    "z": "686fa107.2f1818",
    "name": "",
    "voice": "10",
    "x": 610,
    "y": 280,
    "wires": []
  },
  {
    "id": "f141d032.6881c",
    "type": "http in",
    "z": "d3d3a738.50ff6",
    "name": "",
    "url": "/status",
    "method": "put",
    "upload": false,
    "swaggerDoc": "",
    "x": 370,
    "y": 380,
    "wires": [
      [
        "a6a78c5caf26d2d8"
      ]
    ]
  },
  {
    "id": "e8b81718.5a35f",
    "type": "http response",
    "z": "d3d3a738.50ff6",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 960,
    "y": 380,
    "wires": []
  },
  {
    "id": "9de1781d.c3793",
    "type": "function",
    "z": "686fa107.2f1818",
    "name": "",
    "func": "const clone = RED.util.cloneMessage(msg)\nclone.payload = `New status: ${clone.payload.name}`\nreturn clone",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 280,
    "wires": [
      [
        "28a5c0a5.3c5c2"
      ]
    ],
    "inputLabels": [
      "x"
    ]
  },
  {
    "id": "d3714b99.088ba8",
    "type": "inject",
    "z": "d3d3a738.50ff6",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"name\": \"test\"}",
    "payloadType": "str",
    "x": 360,
    "y": 320,
    "wires": [
      [
        "a6a78c5caf26d2d8"
      ]
    ]
  },
  {
    "id": "3381a67b.9f5e9a",
    "type": "subflow:686fa107.2f1818",
    "z": "d3d3a738.50ff6",
    "name": "",
    "env": [],
    "x": 970,
    "y": 420,
    "wires": []
  },
  {
    "id": "30c09dd0.8115ea",
    "type": "http in",
    "z": "86cf6ae1.86e16",
    "name": "",
    "url": "/proxy",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 450,
    "y": 560,
    "wires": [
      [
        "150e4a82.92e2d5",
        "8d0c7124.2fbdb8"
      ]
    ]
  },
  {
    "id": "4efe03c5.ab090c",
    "type": "http response",
    "z": "86cf6ae1.86e16",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 970,
    "y": 600,
    "wires": []
  },
  {
    "id": "150e4a82.92e2d5",
    "type": "http request",
    "z": "86cf6ae1.86e16",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "req.headers[\"request-uri\"]",
    "tls": "31dd706.b8e229",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 750,
    "y": 600,
    "wires": [
      [
        "4efe03c5.ab090c",
        "b983e0ed.28dcf8"
      ]
    ]
  },
  {
    "id": "b983e0ed.28dcf8",
    "type": "debug",
    "z": "86cf6ae1.86e16",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 670,
    "y": 460,
    "wires": []
  },
  {
    "id": "ef41e63d.ca5118",
    "type": "inject",
    "z": "86cf6ae1.86e16",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "https://google.com",
    "payloadType": "str",
    "x": 500,
    "y": 380,
    "wires": [
      [
        "7dfc6494.b2b09c",
        "6c25faca.f28eac"
      ]
    ]
  },
  {
    "id": "8d0c7124.2fbdb8",
    "type": "debug",
    "z": "86cf6ae1.86e16",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "req.headers[\"request-uri\"]",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 830,
    "y": 680,
    "wires": []
  },
  {
    "id": "7dfc6494.b2b09c",
    "type": "change",
    "z": "86cf6ae1.86e16",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 380,
    "wires": [
      []
    ]
  },
  {
    "id": "6c25faca.f28eac",
    "type": "function",
    "z": "86cf6ae1.86e16",
    "name": "",
    "func": "msg.req = msg.req || {}\nmsg.req.headers = msg.req.headers || {}\nmsg.req.headers[\"request-uri\"] = \"https://google.de\";//msg.payload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 870,
    "y": 500,
    "wires": [
      [
        "ba62826d.c0368",
        "8d0c7124.2fbdb8"
      ]
    ]
  },
  {
    "id": "ba62826d.c0368",
    "type": "debug",
    "z": "86cf6ae1.86e16",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1060,
    "y": 480,
    "wires": []
  },
  {
    "id": "bf6a9fbc.40dcb8",
    "type": "hue-bridge-node",
    "z": "160680de.88ba5f",
    "name": "Bridge",
    "bridge": "6efd2345.171b3c",
    "autoupdates": true,
    "skipglobalevents": false,
    "x": 340,
    "y": 240,
    "wires": [
      [
        "f2529ad7.8b6c9"
      ]
    ]
  },
  {
    "id": "50f28d06.d8fb2c",
    "type": "hue-light",
    "z": "160680de.88ba5f",
    "name": "Spot 1",
    "bridge": "6efd2345.171b3c",
    "lightid": "4",
    "colornamer": true,
    "skipevents": false,
    "x": 680,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "d14437af.71017",
    "type": "hue-light",
    "z": "160680de.88ba5f",
    "name": "Spot 2",
    "bridge": "6efd2345.171b3c",
    "lightid": "5",
    "colornamer": true,
    "skipevents": false,
    "x": 580,
    "y": 580,
    "wires": [
      []
    ]
  },
  {
    "id": "fc97b460.16c0e",
    "type": "hue-light",
    "z": "160680de.88ba5f",
    "name": "Living Room Door",
    "bridge": "6efd2345.171b3c",
    "lightid": "8",
    "colornamer": true,
    "skipevents": false,
    "x": 840,
    "y": 320,
    "wires": [
      [
        "e95f0fd4.4d2b1"
      ]
    ]
  },
  {
    "id": "f2529ad7.8b6c9",
    "type": "hue-scene",
    "z": "160680de.88ba5f",
    "name": "Blue rain on 1437224479692",
    "bridge": "6efd2345.171b3c",
    "sceneid": "0f2c67d80-on-0",
    "groupid": "2",
    "skipevents": false,
    "x": 360,
    "y": 440,
    "wires": [
      [
        "fc97b460.16c0e"
      ]
    ]
  },
  {
    "id": "328db1bf.60c8f6",
    "type": "inject",
    "z": "160680de.88ba5f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 240,
    "wires": [
      [
        "bf6a9fbc.40dcb8"
      ]
    ]
  },
  {
    "id": "e95f0fd4.4d2b1",
    "type": "debug",
    "z": "160680de.88ba5f",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1080,
    "y": 380,
    "wires": []
  },
  {
    "id": "7e6b5f39.26a3a",
    "type": "inject",
    "z": "160680de.88ba5f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 210,
    "y": 820,
    "wires": [
      []
    ]
  },
  {
    "id": "34891022.13219",
    "type": "pi-gpiod out",
    "z": "86cf6ae1.86e16",
    "name": "",
    "host": "gpiod",
    "port": 8888,
    "pin": "17",
    "set": true,
    "level": "0",
    "out": "out",
    "sermin": "1000",
    "sermax": "2000",
    "freq": "800",
    "x": 800,
    "y": 960,
    "wires": []
  },
  {
    "id": "ccc3b149.e73cd",
    "type": "inject",
    "z": "86cf6ae1.86e16",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 470,
    "y": 960,
    "wires": [
      [
        "34891022.13219"
      ]
    ]
  },
  {
    "id": "99674449.7690e8",
    "type": "http request",
    "z": "d3d3a738.50ff6",
    "name": "",
    "method": "use",
    "ret": "txt",
    "paytoqs": "body",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1650,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "c94ccf9a.601d48",
    "type": "http response",
    "z": "d3d3a738.50ff6",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 960,
    "y": 180,
    "wires": []
  },
  {
    "id": "64bbe43.868cf9c",
    "type": "http in",
    "z": "d3d3a738.50ff6",
    "name": "",
    "url": "/info",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 360,
    "y": 180,
    "wires": [
      [
        "351e2727ab535ec9"
      ]
    ]
  },
  {
    "id": "5c4418a6466a0bfd",
    "type": "debug",
    "z": "d3d3a738.50ff6",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 950,
    "y": 220,
    "wires": []
  },
  {
    "id": "293c1f95b8c22f6b",
    "type": "function",
    "z": "e268071b434a4a05",
    "name": "addresses",
    "func": "msg.topic = \"addresses\"\nmsg.payload = global.get(\"addresses\")\nnode.status({fill:\"green\",shape:\"dot\",text:msg.payload})\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 470,
    "y": 200,
    "wires": [
      [
        "459f6e3c6d46fcf6"
      ]
    ]
  },
  {
    "id": "bd2e5c2f25346c4f",
    "type": "function",
    "z": "e268071b434a4a05",
    "name": "hostname",
    "func": "msg.topic = \"hostname\"\nnode.status({fill:\"green\",shape:\"dot\",text:`${msg.payload}`})\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "childProcess",
        "module": "child_process"
      }
    ],
    "x": 460,
    "y": 80,
    "wires": [
      [
        "459f6e3c6d46fcf6"
      ]
    ]
  },
  {
    "id": "5bc54cf3183daf90",
    "type": "function",
    "z": "e268071b434a4a05",
    "name": "username",
    "func": "msg.topic = \"username\"\nnode.status({fill:\"green\",shape:\"dot\",text:`${msg.payload}`})\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "childProcess",
        "module": "child_process"
      }
    ],
    "x": 460,
    "y": 140,
    "wires": [
      [
        "459f6e3c6d46fcf6"
      ]
    ]
  },
  {
    "id": "459f6e3c6d46fcf6",
    "type": "join",
    "z": "e268071b434a4a05",
    "name": "",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "5",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 710,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "3ccc68c88b722855",
    "type": "function",
    "z": "e268071b434a4a05",
    "name": "status",
    "func": "msg.topic = \"status\"\nmsg.payload = msg.payload.status || global.get(\"status\")\nnode.status({fill:\"green\",shape:\"dot\",text:`${JSON.stringify(msg.payload)}`})\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 320,
    "wires": [
      [
        "459f6e3c6d46fcf6"
      ]
    ]
  },
  {
    "id": "f357e4ecb89a680a",
    "type": "function",
    "z": "e268071b434a4a05",
    "name": "nearby",
    "func": "msg.topic = \"nearby\"\nmsg.payload = global.get(\"nearby\")\nnode.status({fill:\"green\",shape:\"dot\",text:JSON.stringify(msg.payload)})\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 260,
    "wires": [
      [
        "459f6e3c6d46fcf6"
      ]
    ]
  },
  {
    "id": "4916930f282e31d6",
    "type": "websocket out",
    "z": "d3d3a738.50ff6",
    "name": "",
    "server": "ed608b58.9ef53",
    "client": "",
    "x": 1700,
    "y": 540,
    "wires": []
  },
  {
    "id": "5f439a5dafd4399e",
    "type": "discovery",
    "z": "e1effc2d22e3136d",
    "name": "",
    "topic": "",
    "service": "_http._tcp",
    "x": 240,
    "y": 200,
    "wires": [
      [
        "66c82c0e187e9979"
      ]
    ]
  },
  {
    "id": "42473ca9bb5abd09",
    "type": "function",
    "z": "90dc5f4163afbe49",
    "name": "nearby > global",
    "func": "function arrived(address, user) {\n    const nearby = flow.get(\"nearby\") || {}\n    nearby[address] = user\n    global.set(\"nearby\", nearby)\n    node.log(`Service arrived: ${address} -> ${user}`)\n    node.status({fill:\"green\",shape:\"dot\",text:`${address} -> ${user}`})\n}\n\nfunction gone(address, user) {\n    const nearby = flow.get(\"nearby\") || {}\n    nearby.delete(address)\n    global.set(\"nearby\", nearby)\n    node.log(`Service gone: ${address}`)\n    node.status({fill:\"red\",shape:\"ring\",text:`${address} -> ${user}`})\n}\n\nconst txtRecords = msg.payload.txtRecord || {}\nconst addresses = msg.payload.addresses || []\nnode.log(JSON.stringify(txtRecords));\naddresses.forEach(address => {\n    const host = address.includes(\":\") ? `[${address}]` : address\n    const url = `http://${host}:${txtRecords.port || \"1880\"}`\n        \n    if (msg.payload.state) arrived(url, txtRecords.user)\n    else gone(url)\n})\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "global.set(\"nearby\", {})",
    "finalize": "",
    "libs": [],
    "x": 840,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "56404e92c05a7cb5",
    "type": "ip",
    "z": "cf98990a23245750",
    "name": "ip",
    "https": false,
    "timeout": "5000",
    "internalIPv4": true,
    "internalIPv6": true,
    "publicIPv4": false,
    "publicIPv6": false,
    "x": 550,
    "y": 400,
    "wires": [
      [
        "a7f4e9006e378aaa",
        "b70f8e25798454ba"
      ]
    ]
  },
  {
    "id": "a7f4e9006e378aaa",
    "type": "function",
    "z": "cf98990a23245750",
    "name": "addresses > global",
    "func": "const URL = url.URL\nconst req = msg.req || {}\nconst headers = req.headers || {}\nconst address = headers.origin || `http://${headers.host || \"localhost:1880\"}`\nnode.status({fill:\"yellow\",shape:\"dot\",text:address})\nconst origin = new URL(address)\n\nconst addresses = []\nif(msg.payload.internalIPv4) {\n    addresses.push(`${origin.protocol}//${msg.payload.internalIPv4}:${origin.port}`)\n}\nif(msg.payload.globalIPv4) {\n    addresses.push(`${origin.protocol}//${msg.payload.globalIPv4}:${origin.port}`)\n}\nif(msg.payload.internalIPv6) {\n    addresses.push(`${origin.protocol}//[${msg.payload.internalIPv6}]:${origin.port}`)\n}\nif(msg.payload.globalIPv6) {\n    addresses.push(`${origin.protocol}//[${msg.payload.globalIPv6}]:${origin.port}`)\n}\n\nglobal.set(\"addresses\", addresses)\nnode.status({fill:\"green\",shape:\"dot\",text:global.get(\"addresses\")})\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "global.set(\"addresses\", [])",
    "finalize": "",
    "libs": [
      {
        "var": "url",
        "module": "url"
      }
    ],
    "x": 770,
    "y": 400,
    "wires": [
      [
        "c93a6596813a26c4"
      ]
    ]
  },
  {
    "id": "c93a6596813a26c4",
    "type": "delay",
    "z": "cf98990a23245750",
    "name": "",
    "pauseType": "delay",
    "timeout": "10",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "x": 650,
    "y": 520,
    "wires": [
      [
        "56404e92c05a7cb5"
      ]
    ]
  },
  {
    "id": "b70f8e25798454ba",
    "type": "debug",
    "z": "cf98990a23245750",
    "name": "",
    "active": false,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 750,
    "y": 320,
    "wires": []
  },
  {
    "id": "351e2727ab535ec9",
    "type": "subflow:e268071b434a4a05",
    "z": "d3d3a738.50ff6",
    "name": "",
    "env": [],
    "x": 660,
    "y": 180,
    "wires": [
      [
        "c94ccf9a.601d48",
        "5c4418a6466a0bfd"
      ]
    ]
  },
  {
    "id": "4072fcc87c6958ed",
    "type": "json",
    "z": "85f0531b8e23f10e",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 190,
    "y": 80,
    "wires": [
      [
        "5758f80ec08053f2"
      ]
    ]
  },
  {
    "id": "97d94673a14c771b",
    "type": "function",
    "z": "44cf99770533579a",
    "name": "status > global",
    "func": "global.set(\"status\", msg.payload)\nnode.status({fill:\"green\",shape:\"dot\",text:JSON.stringify(global.get(\"status\"))})\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "global.set(\"addresses\", [])",
    "finalize": "",
    "libs": [
      {
        "var": "url",
        "module": "url"
      }
    ],
    "x": 1100,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "5758f80ec08053f2",
    "type": "subflow:6a822a9c1319811c",
    "z": "85f0531b8e23f10e",
    "name": "",
    "env": [],
    "x": 400,
    "y": 80,
    "wires": [
      [
        "634d0d63206c8a19"
      ]
    ]
  },
  {
    "id": "ae5389dbf5b5c166",
    "type": "catch",
    "z": "44cf99770533579a",
    "name": "",
    "scope": null,
    "uncaught": false,
    "x": 560,
    "y": 580,
    "wires": [
      [
        "9532b18799ce38de"
      ]
    ]
  },
  {
    "id": "9532b18799ce38de",
    "type": "function",
    "z": "44cf99770533579a",
    "name": "null",
    "func": "msg.payload = null\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 850,
    "y": 580,
    "wires": [
      [
        "97d94673a14c771b"
      ]
    ]
  },
  {
    "id": "0f665db3dad9b0aa",
    "type": "subflow:e268071b434a4a05",
    "z": "d3d3a738.50ff6",
    "name": "",
    "env": [],
    "x": 1480,
    "y": 540,
    "wires": [
      [
        "4916930f282e31d6",
        "dc74926cc3638da9"
      ]
    ]
  },
  {
    "id": "66c82c0e187e9979",
    "type": "switch",
    "z": "e1effc2d22e3136d",
    "name": "filter busy-screen",
    "property": "payload.txtRecord",
    "propertyType": "msg",
    "rules": [
      {
        "t": "hask",
        "v": "user",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 510,
    "y": 200,
    "wires": [
      [
        "f621d7bd9148a1ad"
      ],
      []
    ]
  },
  {
    "id": "dec2514d23c29320",
    "type": "debug",
    "z": "90dc5f4163afbe49",
    "name": "",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload.name",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 850,
    "y": 180,
    "wires": []
  },
  {
    "id": "2abb478f160ce898",
    "type": "subflow:e1effc2d22e3136d",
    "z": "90dc5f4163afbe49",
    "name": "",
    "env": [],
    "x": 600,
    "y": 140,
    "wires": [
      [
        "42473ca9bb5abd09"
      ],
      [
        "dec2514d23c29320"
      ]
    ]
  },
  {
    "id": "c831f2b82172d0bf",
    "type": "subflow:e1effc2d22e3136d",
    "z": "d3d3a738.50ff6",
    "name": "",
    "env": [],
    "x": 660,
    "y": 540,
    "wires": [
      [
        "1a3cf396a07e6a10"
      ],
      []
    ]
  },
  {
    "id": "e7cea05613e27843",
    "type": "delay",
    "z": "d3d3a738.50ff6",
    "name": "",
    "pauseType": "rate",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": false,
    "x": 1270,
    "y": 540,
    "wires": [
      [
        "0f665db3dad9b0aa"
      ]
    ]
  },
  {
    "id": "dc74926cc3638da9",
    "type": "debug",
    "z": "d3d3a738.50ff6",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 1690,
    "y": 600,
    "wires": []
  },
  {
    "id": "f621d7bd9148a1ad",
    "type": "change",
    "z": "e1effc2d22e3136d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.txtRecord",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "18b0490b35e4a38f",
    "type": "file in",
    "z": "44cf99770533579a",
    "name": "",
    "filename": "busy-screen/status.json",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 610,
    "y": 440,
    "wires": [
      [
        "906b28e0616985e0"
      ]
    ]
  },
  {
    "id": "a871ebb783ded8f5",
    "type": "function",
    "z": "08e1bdd8996589b6",
    "name": "init",
    "func": "",
    "outputs": 1,
    "noerr": 0,
    "initialize": "node.send({},false);",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "5c6bec3c3423df97",
    "type": "subflow:08e1bdd8996589b6",
    "z": "cf98990a23245750",
    "name": "",
    "x": 350,
    "y": 400,
    "wires": [
      [
        "56404e92c05a7cb5"
      ]
    ]
  },
  {
    "id": "48b303ec47c15b43",
    "type": "subflow:08e1bdd8996589b6",
    "z": "44cf99770533579a",
    "name": "",
    "x": 310,
    "y": 440,
    "wires": [
      [
        "18b0490b35e4a38f"
      ]
    ]
  },
  {
    "id": "14eaca7a99556bed",
    "type": "function",
    "z": "6a822a9c1319811c",
    "name": "",
    "func": "msg.payload.timestamp = msg.payload.timestamp ? moment(msg.payload.timestamp) : moment()\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "moment",
        "module": "moment"
      }
    ],
    "x": 340,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "fcd4121bed27d1ce",
    "type": "exec",
    "z": "fae67dfd44064085",
    "command": "hostname",
    "addpay": "",
    "append": "",
    "useSpawn": "false",
    "timer": "2",
    "winHide": false,
    "oldrc": false,
    "name": "",
    "x": 200,
    "y": 100,
    "wires": [
      [
        "87db43369aa21f58"
      ],
      [],
      []
    ]
  },
  {
    "id": "1c8f14700c680424",
    "type": "change",
    "z": "305486fc7a8f284b",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$trim(payload)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 400,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "87db43369aa21f58",
    "type": "subflow:305486fc7a8f284b",
    "z": "fae67dfd44064085",
    "name": "",
    "env": [],
    "x": 350,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "1b6c8b73e03202f0",
    "type": "subflow:fae67dfd44064085",
    "z": "e268071b434a4a05",
    "name": "",
    "env": [],
    "x": 320,
    "y": 80,
    "wires": [
      [
        "bd2e5c2f25346c4f"
      ]
    ]
  },
  {
    "id": "f60f2fba236286c6",
    "type": "exec",
    "z": "6c31a8500cd2af4a",
    "command": "whoami",
    "addpay": "",
    "append": "",
    "useSpawn": "false",
    "timer": "2",
    "winHide": false,
    "oldrc": false,
    "name": "",
    "x": 200,
    "y": 80,
    "wires": [
      [
        "c2f662eea1f1abf3"
      ],
      [],
      []
    ]
  },
  {
    "id": "c2f662eea1f1abf3",
    "type": "subflow:305486fc7a8f284b",
    "z": "6c31a8500cd2af4a",
    "name": "",
    "x": 370,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "59c9988e0b843e16",
    "type": "subflow:6c31a8500cd2af4a",
    "z": "e268071b434a4a05",
    "name": "",
    "env": [],
    "x": 310,
    "y": 140,
    "wires": [
      [
        "5bc54cf3183daf90"
      ]
    ]
  },
  {
    "id": "63e4a4593ca6c7fa",
    "type": "link out",
    "z": "d3d3a738.50ff6",
    "name": "",
    "links": [
      "0d361b50f3c2c999"
    ],
    "x": 915,
    "y": 340,
    "wires": []
  },
  {
    "id": "a5bd622049768a66",
    "type": "file",
    "z": "44cf99770533579a",
    "name": "",
    "filename": "busy-screen/status.json",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "utf8",
    "x": 610,
    "y": 500,
    "wires": [
      [
        "906b28e0616985e0"
      ]
    ]
  },
  {
    "id": "0d361b50f3c2c999",
    "type": "link in",
    "z": "44cf99770533579a",
    "name": "",
    "links": [
      "63e4a4593ca6c7fa"
    ],
    "x": 275,
    "y": 500,
    "wires": [
      [
        "a5bd622049768a66"
      ]
    ]
  },
  {
    "id": "4b98d6d2df8b42d2",
    "type": "function",
    "z": "d3d3a738.50ff6",
    "name": "payload.* > payload.status.*",
    "func": "msg.payload = {\n    \"status\": msg.payload\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1020,
    "y": 500,
    "wires": [
      [
        "e7cea05613e27843"
      ]
    ]
  },
  {
    "id": "1a3cf396a07e6a10",
    "type": "delay",
    "z": "d3d3a738.50ff6",
    "name": "",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "x": 960,
    "y": 540,
    "wires": [
      [
        "e7cea05613e27843"
      ]
    ]
  },
  {
    "id": "eee197ea38dbe9ee",
    "type": "function",
    "z": "2280cc9c3efeb2e2",
    "name": "",
    "func": "msg.payload.duration = msg.payload.duration ? moment.duration(msg.payload.duration).asMilliseconds() : null\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "moment",
        "module": "moment"
      }
    ],
    "x": 440,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "634d0d63206c8a19",
    "type": "subflow:2280cc9c3efeb2e2",
    "z": "85f0531b8e23f10e",
    "name": "",
    "env": [],
    "x": 590,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "906b28e0616985e0",
    "type": "subflow:85f0531b8e23f10e",
    "z": "44cf99770533579a",
    "name": "",
    "env": [],
    "x": 860,
    "y": 500,
    "wires": [
      [
        "97d94673a14c771b"
      ]
    ]
  },
  {
    "id": "a6a78c5caf26d2d8",
    "type": "subflow:85f0531b8e23f10e",
    "z": "d3d3a738.50ff6",
    "name": "",
    "env": [],
    "x": 660,
    "y": 380,
    "wires": [
      [
        "63e4a4593ca6c7fa",
        "e8b81718.5a35f",
        "3381a67b.9f5e9a",
        "4b98d6d2df8b42d2",
        "9d0231b41c09d282"
      ]
    ]
  },
  {
    "id": "9d0231b41c09d282",
    "type": "switch",
    "z": "d3d3a738.50ff6",
    "name": "if has duration",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "hask",
        "v": "duration",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 980,
    "y": 300,
    "wires": [
      [
        "1db1cb801ab9c408"
      ]
    ]
  },
  {
    "id": "1db1cb801ab9c408",
    "type": "switch",
    "z": "d3d3a738.50ff6",
    "name": "if has on.finish",
    "property": "payload.on",
    "propertyType": "msg",
    "rules": [
      {
        "t": "hask",
        "v": "finish",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1160,
    "y": 300,
    "wires": [
      [
        "770b95baf52b75ea"
      ]
    ]
  },
  {
    "id": "770b95baf52b75ea",
    "type": "function",
    "z": "d3d3a738.50ff6",
    "name": "hold message back for msg.duration",
    "func": "const outdatedTimeoutId = context.get(\"timeoutId\")\nif (outdatedTimeoutId) {\n    context.set(\"timeoutId\", null);\n    clearTimeout(outdatedTimeoutId)\n}\ncontext.set(\"timeoutId\", setTimeout(() => {\n    node.send(msg.payload.on.finish, false)\n    node.status({ fill: \"green\", shape: \"dot\", text: JSON.stringify(msg.payload.on.finish) })\n}, msg.payload.duration))\nnode.status({ fill: \"yellow\", shape: \"dot\", text: `${msg.payload.duration} -> ${JSON.stringify(msg.payload.on.finish)}` })\nreturn",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1410,
    "y": 300,
    "wires": [
      [
        "99674449.7690e8"
      ]
    ]
  },
  {
    "id": "7d7ca9f67eeb1275",
    "type": "http in",
    "z": "e9f16578ec7b2ee2",
    "name": "",
    "url": "/say",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 660,
    "y": 320,
    "wires": [
      [
        "38250944620d2eea"
      ]
    ]
  },
  {
    "id": "38250944620d2eea",
    "type": "play audio",
    "z": "e9f16578ec7b2ee2",
    "name": "",
    "voice": "10",
    "x": 850,
    "y": 320,
    "wires": []
  }
]
